
            <div class="card bg-light">
                <div class="card-head text-bg-light align-cen">
                    <p>Detalle del Estudiante</p>
                </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nombre: {{estudiante.firstName|uppercase}}</li>
                    <li class="list-group-item">Apellido: {{estudiante.lastName|uppercase}}</li>
                    <li class="list-group-item">Activo: {{estudiante.isActive}}</li>
                  </ul>
            </div>
                
              
